@media print {
    td.red {
        background-color: red !important;
        /* border-width: thick; */
        -webkit-print-color-adjust: exact;
        padding: 5px;
    }
    table, td, th {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: xx-large;
    }
    
    table {
        margin: 100px;
    }
    div.white {
        background-color: white !important;
        -webkit-print-color-adjust: exact;
    }
}

@media screen { 
    table, td, th {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: xx-large;
    }
    
    table {
        margin: 100px;
    }
    
    .red {
        background-color: red;
        padding: 3px;
    }
    div.white {
        background-color: white;
    }
}
